{% extends "layout.html" %}
{% block body %}
<h3>Makaleler<h3>
<hr>
{% if articles %}
<form action = "/search" method="post" class = "form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Ara" aria-label="Search" name = "keyword">
    <button class="btn btn-outline-success my-2 " type="submit">Ara</button>
</form>
<hr>
    {% for article in articles %}
        <div class="jumbotron">
            <h2 style="font-family: Georgia, 'Times New Roman', Times, serif;">{{article.title}}</h2>
            <small style="font-family: 'Times New Roman', Times, serif;">{{article.content|safe}}</small>
            <a class="btn btn-lg btn-primary" href="/article/{{article.id}}" role="button">Görüntüle &raquo;</a>
        </div>
    {% endfor %}
    
{% else %}
    <div class = "alert alert-danger">Bu blogta henüz makale bulunmuyor.</div>
{% endif %}

{% endblock body %}