{% extends "layout.html" %}
{% block title %}
    <title>
        Kayıt Ol
    </title>    
{% endblock title %}

{% block body %}
{% from "formhelpers.html" import render_field %}
<div style="position: absolute;top: 50%;left: 50%;width: 100%;transform: translate(-50%, -50%);">
  <form method = "post" class="form-signin" style="width: 100%; max-width: 330px; padding: 15px; margin: 0 auto;-webkit-box-pack: center;">
    <h1 class="h3 mb-3 font-weight-normal">Kayıt Ol</h1>
    <hr>
    <dl>
      {{ render_field(form.name, class="form-control") }}
      {{ render_field(form.username, class="form-control") }}
      {{ render_field(form.email, class="form-control") }}
      {{ render_field(form.password, class="form-control") }}
      {{ render_field(form.confirm, class="form-control") }}
    </dl>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Kayıt Ol</button>
  </form>
</div>
{% endblock body %}
